* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#board{
    background-color: rgb(255, 251, 0);
    width: 800px;
    height: 600px;
}
