body {
    background-color: rgb(184, 119, 23);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.formulario-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.ubi {
    margin-bottom: 10px;
}

.largo {
    width: 100%;
}

.fondo-registro{
background-color: rgb(145, 145, 145);
padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 14%;
}

#color-buton{
    color: rgb(0, 0, 0);
text-decoration: none;
border: 0cm;
background-color: green;
padding-right: 125px;
padding-bottom: 3px;
}

