@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rethink+Sans&family=Rubik+Doodle+Triangles&display=swap');


*       {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rethink Sans', sans-serif;

}


/*  Header */
header  {
    background-color: rgb(73, 73, 73);
    padding: 20px;
    position: fixed;
    width: 100%;
}

nav     {
    display: flex;
    justify-content: space-between;
}

.Ranking button{
    cursor: pointer;
    background-color: rgb(165, 165, 98);
    padding-right: 20px;
    width: 300px;
    height: 70px;
    border-radius: 20%;
    text-align: center;
    font-size: 20px;
}


a       {
    text-decoration: none;
}
/*  Footer  */

footer  {
    background-color: rgb(99, 94, 94);
}

.contenedorimg  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    border-radius: 50%;
}

.Imagenes img{
    border-radius: 50%;
}